@import 'tailwindcss';

@plugin "daisyui" {
	themes:
		light --default,
		dark,
		retro;
}

@plugin "daisyui/theme" {
	name: 'light';
	--color-primary: oklch(72.3% 0.219 149.579);
	--color-primary-content: oklch(100% 0 0);
}

@plugin "daisyui/theme" {
	name: 'retro';
	default: false;
	prefersdark: false;
	color-scheme: 'light';
	--color-base-100: oklch(91.637% 0.034 90.515);
	--color-base-200: oklch(88.272% 0.049 91.774);
	--color-base-300: oklch(84.133% 0.065 90.856);
	--color-base-content: oklch(41% 0.112 45.904);
	--color-primary: oklch(80% 0.114 19.571);
	--color-primary-content: oklch(39% 0.141 25.723);
	--color-secondary: oklch(92% 0.084 155.995);
	--color-secondary-content: oklch(44% 0.119 151.328);
	--color-accent: oklch(68% 0.162 75.834);
	--color-accent-content: oklch(41% 0.112 45.904);
	--color-neutral: oklch(44% 0.011 73.639);
	--color-neutral-content: oklch(86% 0.005 56.366);
	--color-info: oklch(58% 0.158 241.966);
	--color-info-content: oklch(96% 0.059 95.617);
	--color-success: oklch(51% 0.096 186.391);
	--color-success-content: oklch(96% 0.059 95.617);
	--color-warning: oklch(64% 0.222 41.116);
	--color-warning-content: oklch(96% 0.059 95.617);
	--color-error: oklch(70% 0.191 22.216);
	--color-error-content: oklch(40% 0.123 38.172);
	--radius-selector: 0.25rem;
	--radius-field: 0.25rem;
	--radius-box: 0.5rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 1;
	--noise: 0;
}

@plugin "daisyui/theme" {
	name: 'lofi';
	default: false;
	prefersdark: false;
	color-scheme: 'light';
	--color-base-100: oklch(100% 0 0);
	--color-base-200: oklch(97% 0 0);
	--color-base-300: oklch(94% 0 0);
	--color-base-content: oklch(0% 0 0);
	--color-primary: oklch(15.906% 0 0);
	--color-primary-content: oklch(100% 0 0);
	--color-secondary: oklch(21.455% 0.001 17.278);
	--color-secondary-content: oklch(100% 0 0);
	--color-accent: oklch(26.861% 0 0);
	--color-accent-content: oklch(100% 0 0);
	--color-neutral: oklch(0% 0 0);
	--color-neutral-content: oklch(100% 0 0);
	--color-info: oklch(79.54% 0.103 205.9);
	--color-info-content: oklch(15.908% 0.02 205.9);
	--color-success: oklch(90.13% 0.153 164.14);
	--color-success-content: oklch(18.026% 0.03 164.14);
	--color-warning: oklch(88.37% 0.135 79.94);
	--color-warning-content: oklch(17.674% 0.027 79.94);
	--color-error: oklch(78.66% 0.15 28.47);
	--color-error-content: oklch(15.732% 0.03 28.47);
	--radius-selector: 2rem;
	--radius-field: 0.25rem;
	--radius-box: 0.5rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 1;
	--noise: 0;
}

@theme {
	--font-sans: 'Inter Variable', 'ui-sans-serif', 'sans-serif';
	--font-ar: 'IndoPak', 'ui-sans-serif', 'sans-serif';
}
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer base {
	@import './styles/Tajweed.css';
	.ar-size {
		font-size: var(--ar-size, 1.6rem);
	}
}
@layer components {
	.material-symbols-rounded {
		font-family: 'Material Symbols Rounded';
		font-weight: normal;
		font-style: normal;
		font-size: 24px;
		line-height: 1;
		letter-spacing: normal;
		text-transform: none;
		display: inline-block;
		white-space: nowrap;
		word-wrap: normal;
		direction: ltr;
		-webkit-font-feature-settings: 'liga';
		-webkit-font-smoothing: antialiased;
	}
	@import './styles/Container.css';
	@import './styles/AppBar.css';
}

@layer utilities {
	.material-symbols-rounded {
		font-variation-settings:
			'FILL' 0,
			'wght' 400,
			'GRAD' 0,
			'opsz' 24;
		&.filled {
			font-variation-settings:
				'FILL' 1,
				'wght' 400,
				'GRAD' 0,
				'opsz' 24;
		}
	}
	.stretch-link::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}
}
